* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-color: rgb(0, 0, 0);
   margin-right: 0.1px ;
  /*  margin-left: 30px;*/

}

header{
    height: 200px;
    padding: 1% 1% 1% 1%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin-bottom: -75px;
}

/*primer-logo*/
.Logo-sumo-1{
    width: 50px;
    height: 65px;
}
/*primer-logo*/

/*segundo-logo*/
.logo-sumo-2{
    width: 200px;
    height: 200px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ56OVhVGAgBEpfudIGPTIEVa76P2oJ66C6oD6Ty5Owtmq-MpRsz7478DVA8PJMjAI44o&usqp=CAU);
    border-radius: 50%;
    margin: 60px 30px 30px 0px;
}
/*segundo-logo*/

.titulo-historia{
    color: whitesmoke;
}
.navegacion{
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

/*botones*/
.botones{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px whitesmoke;
    border-bottom: blue;
    border-right: blue;
    border-top: blue;
}
.primer-boton:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}
.segundo-boton:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}
.tercer-boton:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}
.cuarto-boton:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}
.quinto-boton:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}
header nav a:hover{
    background-color: rgb(218, 0, 0);
    border-radius: 50px;
}
/*botones*/

.titulo-padre{
    padding: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.titulo-hijo{
    color: rgb(0, 0, 0);
}

.descripcion{
    color: whitesmoke;
}

.caja-padre{
    border: solid 1px rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    border: solid 1px rgb(255, 255, 255);
    text-align: center;
}

.titulo-discos{
    border: solid 1px rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

/*divididos por la felicidad*/
.primer-disco{
    border: solid 1px whitesmoke;
}

.imagen-dividos-por-la-felicidad{
    width: 200px;
}

.imagen-dividos-por-la-felicidad-transicion:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.5s;
}
/*divididos por la felicidad*/

/*llegando los monos*/
.segundo-disco{
    border: solid 1px whitesmoke;
}

.imagen-llegando-los-monos{
    width: 200px;
}

.imagen-llegando-los-monos-transicion:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.5s;
}
/*llegando los monos*/

/*after chabon*/
.tercer-disco{
    border: solid 1px whitesmoke;
}

.imagen-after-chabon{
    width: 200px;
}

.imagen-after-chabon-transicion:hover{
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.5s;
}
/*after chabon*/

/*redes sociales*/
.redes-sociales{ 
list-style: none;
display: flex;
justify-content: space-around;
}

.instagram{
width: 30px;
}
.facebook{
width:30px ;
}
.twitter{
width:30px ;
}
/*redes sociales*/

/*media queries*/

  @media all and (max-width:451px){
    .primer-boton, .segundo-boton, .tercer-boton, .tercer-boton, .cuarto-boton, .quinto-boton{
     font-size: 20px ;
  }
   }
/* media queries*/  


.menu-inicio:hover, .menu-sobre-nosotros:hover, .menu-integrantes:hover, .menu-logros:hover, .menu-anecdotas:hover{
    background-color: rgb(218, 0, 0);
    border-radius: 50px;
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 1.2s;
}

.menu-inicio, .menu-sobre-nosotros, .menu-integrantes, .menu-logros, .menu-anecdotas{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 50px;
    font-weight: bold;
    border: solid 2px whitesmoke;
    border-bottom: blue;
    border-right: blue;
    border-top: blue;
    display: flex;
    text-align: center;
}

.menu-navegacion{
   line-height: 200px;
    font-size: 30px;
    display: flex;
  }

  /*integrantes*/
  .lista-integrantes{
    color: whitesmoke;
  }