footer {
    .redes-sociales {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

.instagram{
    width: 30px;
}

.facebook {
    width: 30px;
}

.twitter {
    width: 30px;
}

}