*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/*h1, h2, h4, p{
    color: whitesmoke;
}*/

.titulo-padre{
    padding: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    color: black;
}


